.navRight,
.navLeft {
    display: flex;
    align-items: center;
    flex-flow: row;
}

@media screen and (min-width: 100px) and (max-width: 670px) {
    .navLeft {
        justify-content: space-between;
        padding: 0 16px;
        margin-bottom: 8px;
    }

    .navRight {
        justify-content: center;
        align-items: center;
    }
}

.layoutContainer {
    margin: 32px auto 0;
    max-width: 500px;
    width: 100%;
    word-wrap: break-word;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    box-shadow: 0px 1px 29px 0px rgb(1 1 1 / 10%);
    background-image: linear-gradient(180deg, #ede6ff 0%, white 100%);
}
